#calendar {
			font-family:Arial;
			font-size:12px;
			margin-left: auto;
			margin-right: auto; 
			text-align: center; 
			width: 650px;
		}
#calendar caption {
			text-align:center;
			background-color:#003366;
			color:#fff;
			font-weight:bold;
			margin-left: auto;
			margin-right: auto;
			padding:5px;
		}
#calendar th {
			text-align:center;
			background-color:#006699;
			color:#fff;
			width:40px;

		}
#calendar td {
			text-align:center;
			padding:5px;
			background-color:silver;
			
		}
#calendar .hoy {
			background-color:red;
		}
	h1{
		text-align:center;
		margin-left: auto;
		margin-right: auto;
	}